**

!.vscode
!.vscode/**
!/package
!/package/**
/package/docs/**
!/package/docs/src
!/package/docs/src/**
!/package/docs/astro.config.mjs
!/package/docs/package.json
!/package/docs/tailwind.config.mjs
!/package/docs/tsconfig.json

!.gitignore
!.npmrc
!base-astro.config.mts
!package-lock.json
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json