---
interface Props {
  id?: string
  class?: string
  styleList?: Record<string, string>
  maxWidth?: number | string
  center?: boolean
}
import { mergeClasses, parseUnit } from '../utils'
const { id, class: className = '', styleList = {}, maxWidth = '100%', center = true, ...rest } = Astro.props

styleList['--mw'] = parseUnit(maxWidth, 'px')
const classList = mergeClasses(className, ['ch-ctr', `${center ? 'ch-cen' : ''}`]).join(' ')
---

<div class={classList} style={styleList} {...rest}><slot /></div>

<style is:global>
  .ch-ctr {
    max-width: var(--mw);
  }
  .ch-ctr.ch-cen {
    margin-inline: auto !important;
  }
</style>
