---
interface Props {
  id?: string
  class?: string
  paddingBlock?: string
  marginBlock?: string
  paddingInline?: string | number
  minPaddingInline?: string | number
}
import { mergeClasses, parseMultiUnit } from '../utils'
const { id, class: className = '', paddingBlock = '0', marginBlock = '0', paddingInline = '5%', minPaddingInline = '25px', ...rest } = Astro.props

const styleList = {
  '--pdb': parseMultiUnit(paddingBlock, 'px').join(' '),
  '--mgb': parseMultiUnit(marginBlock, 'px').join(' '),
  '--pdi': parseMultiUnit(paddingInline, 'px').join(' '),
  '--mpdi': parseMultiUnit(minPaddingInline, 'px').join(' '),
}
const classList = mergeClasses(className, ['ch-spd']).join(' ')
---

<section id={id} class={classList} style={styleList} {...rest}>
  <slot />
</section>

<style is:global>
  .ch-spd {
    margin-block: var(--mgb);
    padding-block: var(--pdb);
    padding-inline: max(var(--pdi), var(--mpdi)) !important;
  }
</style>
