---
const { href='#' } = Astro.props
let { class: className = '' } = Astro.props
if (className === 'btn_type05') className = ''

const classList = `${className} btn_type05`.trim()
---

<a class={classList} href={href}><slot /></a>

<style is:global>
  a.btn_type05 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #333333;
    text-align: center;
    padding: var(--pd10) var(--pd30);
    z-index: ;
  }
  a.btn_type05::before,
  a.btn_type05::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
  }
  a.btn_type05::before {
    background: #333333;
    z-index: 1;
    opacity: 0.1;
  }
  a.btn_type05::after {
    border: 1px solid #333333;
    transform: scale(1.5);
    opacity: 0;
  }
  a.btn_type05:hover::before {
    transform: scale(0);
    opacity: 0;
  }
  a.btn_type05:hover:after {
    transform: scale(1);
    opacity: 0.5;
  }
</style>
