---
const { href='#' } = Astro.props
let { class: className = '' } = Astro.props
if (className === 'btn_type02') className = ''

const classList = `${className} btn_type02`.trim()
---

<a class={classList} href={href}><slot /></a>

<style is:global>
  a.btn_type02 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 140px;
    height: 40px;
    color: #ffffff;
    background: #333333;
    text-align: center;
  }
  a.btn_type02:hover {
    transform: translateX(10px);
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3);
  }
</style>
