---
const { href='#' } = Astro.props
let { class: className = '' } = Astro.props
if (className === 'btn_type07') className = ''

const classList = `${className} btn_type07`.trim()
---

<a class={classList} href={href}>
  <span><slot /></span>
  <svg width="13px" height="10px">
    <path d="M12.644,5.802c0.475-0.429,0.475-1.174,0-1.604l-0.009-0.008l-4.41-3.987  C7.903-0.088,7.407-0.063,7.117,0.258L7.106,0.27C6.815,0.591,6.841,1.087,7.162,1.378l3.11,2.812H0.802  C0.359,4.189,0,4.549,0,4.992v0.016C0,5.451,0.359,5.81,0.802,5.81h9.471l-3.11,2.812C6.841,8.913,6.815,9.408,7.106,9.73  l0.011,0.012c0.29,0.321,0.786,0.346,1.107,0.056l4.41-3.987L12.644,5.802z"></path>
  </svg>
</a>

<style is:global>
  a.btn_type07 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: inherit;
    text-align: center;
    width: 180px;
    height: 60px;
    z-index: 1;
  }
  a.btn_type07:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 60px;
    background: #EEF1F6;
    width: 60px;
    height: 60px;
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  a.btn_type07 span {
    position: relative;
    z-index: 1;
  }
  a.btn_type07 svg {
    margin-left: 10px;
  }
  a.btn_type07 svg path {
    fill: #2B4346;
  }
  a.btn_type07:hover:before {
    width: 100%;
  }
  a.btn_type07:hover svg {
    transform: translateX(5px);
  }
  a.btn_type07:active {
    transform: scale(0.96);
  }
</style>
