---
import type { ButtonProps } from '../../type/button'
import { mergeClasses } from '../../utils'

export interface Btn04Props extends ButtonProps {
  borderColor?: string
}
interface Props extends Btn04Props {}

const { href = '#', class: className = '', color = 'inherit', backgroundColor = '#333', borderColor = '#333', blank = false, ...rest } = Astro.props

const styleList = {
  '--clr': color,
  '--bgc': backgroundColor,
  '--bor-c': borderColor,
}
const classList = mergeClasses(className, ['btn_type04'])
---

<a href={href} class:list={classList} style={styleList} target={blank ? '_blank' : undefined} {...rest}>
  {
    Astro.slots.has('icon') && (
      <span class="ch-icon">
        <slot name="icon" />
      </span>
    )
  }
  <slot>查看更多</slot>
</a>

<style lang="scss" is:global>
  .btn_type04 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--clr);
    text-align: center;
    padding: 0.5em 1.5em;
    z-index: 1;
    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      transition: 0.3s;
    }
    &::before {
      opacity: 0.1;
      background: var(--bgc);
      z-index: 1;
    }
    &::after {
      opacity: 0.3;
      border-top: 1px solid var(--bor-c);
      border-bottom: 1px solid var(--bor-c);
      transform: scale(0, 1);
    }
    &:hover::before {
      opacity: 0;
      transform: scale(0, 1);
    }
    &:hover:after {
      transform: scale(1);
    }
  }
</style>
