.key_words {
  padding: 0 !important;
  height: 0 !important;
  overflow: hidden;
}
.key_words :is(h2, h3, h4, h5, h6) {
  color: rgba(255, 255, 255, 0);
}
/* 重製公司的白痴設定 */
.opsl,
.opsl :where(*:not(.fa-solid)) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  word-break: inherit;
}
.opsl hr {
  height: auto;
}
@layer base {
  .opsl {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .opsl,
  .opsl * {
    max-width: 100%;
    text-decoration: none;
    list-style: none;
    font: inherit;
    color: inherit;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
  }
  .opsl *::before,
  .opsl *::after {
    box-sizing: border-box;
  }
  .opsl :is(h3, h4, h5, h6) {
    line-height: 1.4;
  }
  .opsl iframe {
    display: block;
  }
  .opsl img {
    vertical-align: middle;
  }
  .opsl table {
    border-collapse: collapse;
  }
  .opsl a {
    transition: 0.5s;
  }
  .opsl hr {
    border-style: solid;
    border-bottom: none;
    border-right: none;
  }
}
