---
import type { ButtonProps } from '../../../type/button'
import { mergeClasses } from '../../../utils'

export interface Btn11Props extends ButtonProps {
  hoverColor?: string
  borderColor?: string
}
interface Props extends Btn11Props {}

const { href = '#', class: className = '', color = '#2b4346', hoverColor = color, backgroundColor = '#333', borderColor = '#2b434680', blank = false, ...rest } = Astro.props

const styleList = {
  '--clr': color,
  '--clr-h': hoverColor,
  '--bgc': backgroundColor,
  '--bor-c': borderColor,
}
const classList = mergeClasses(className, ['btn_type11'])
---

<a href={href} class:list={classList} style={styleList} target={blank ? '_blank' : undefined} {...rest}>
  <slot>查看更多</slot>
</a>

<style is:global>
  .btn_type11 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1.5em;
    color: var(--clr);
    text-align: center;
    line-height: 1.2;
    border: 1px solid var(--bor-c);
    outline: 1px solid var(--bor-c);
    transition: 1.25 cubic-bezier(0.19, 1, 0.22, 1);
  }
  .btn_type11:hover {
    color: var(--clr-h);
    box-shadow:
      inset 0 0 20px var(--bor-c),
      0 0 20px -5px var(--bor-c);
    outline: 1px solid #fff0;
    outline-offset: 15px;
    text-shadow: 1px 1px 2px var(--clr-h);
  }
</style>
