---
import type { ButtonProps } from '../../../type/button'
import { mergeClasses } from '../../../utils'

export interface Btn02Props extends ButtonProps {
  shadow?: string
}
interface Props extends Btn02Props {}

const { href = '#', class: className = '', color = '#fff', backgroundColor = '#333', shadow = 'rgba(0, 0, 0, 0.3)', blank = false, ...rest } = Astro.props

const styleList = {
  '--clr': color,
  '--bgc': backgroundColor,
  '--shd': shadow,
}
const classList = mergeClasses(className, ['btn_type02'])
---

<a href={href} class:list={classList} style={styleList} target={blank ? '_blank' : undefined} {...rest}>
  {
    Astro.slots.has('icon') && (
      <span class="ch-icon">
        <slot name="icon" />
      </span>
    )
  }
  <slot>查看更多</slot>
</a>

<style is:global>
  .btn_type02 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5em 1.5em;
    color: var(--clr);
    text-align: center;
    line-height: 1.2;
    background: var(--bgc);
  }
  .btn_type02:hover {
    transform: translateX(10px);
    box-shadow: -5px 0px 5px var(--shd);
  }
</style>
