@use 'sass:map';

$breakpoint: (
  3xl: 1600,
  2xl: 1440,
  xl: 1280,
  lg: 1024,
  md: 768,
  sm: 576,
  xs: 480,
  2xs: 375,
);

@function value($key) {
  @return map.get($breakpoint, $key);
}
@function size($key) {
  @return #{value($key)}px;
}
