@use 'sass:map';

$breakpoint: (
  3xl: 1600px,
  2xl: 1440px,
  xl: 1280px,
  lg: 1024px,
  md: 768px,
  sm: 576px,
  xs: 480px,
  2xs: 375px,
);

@function size($key) {
  @return map.get($breakpoint, $key);
}
