---
import Content from './index.astro'

export const id = 'ch-cnt'
export const props = {
  element: { type: ['string'], require: false, default: 'div' },
  id: { type: ['string'], require: false, default: '' },
  class: { type: ['string'], require: false, default: '' },
  width: { type: ['string', 'number'], require: false, default: 'auto' },
  padding: { type: ['string', 'number'], require: false, default: '0', demo: '60 5%' },
  margin: { type: ['string', 'number'], require: false, default: '0' },
}
export const slots = ['default']
export const keywords = []
export const categrory = []

const data = Astro.props.data['item']?.[0] ?? {}
---

<Content class="content" padding={props.padding.demo}>
  <hgroup>
    <h4>{data.title}</h4>
    <p>{data.subtitle}</p>
  </hgroup>
  {data.text.map((item: string) => <p>{item}</p>)}
</Content>

<style>
  .content {
    color: #000;
    background-color: #eee8;
  }
</style>
