---
interface Props {
  class?: string
}
import { mergeClasses } from '../utils'
const { class: className = '', ...rest } = Astro.props

const classList = mergeClasses(className, ['ch-li-i-l']).join(' ')
---

<li class={classList} {...rest}>
  <div class="ch-icon"><slot name="icon" /></div>
  <div class="ch-txt">
    <div class="ch-title"><slot name="title" /></div>
    <slot />
  </div>
</li>

<style is:global>
  .ch-li-i-l {
    display: flex;
  }
  .ch-li-i-l .ch-icon {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
  }
  .ch-li-i-l .ch-icon img {
    display: block;
    height: calc(var(--ih) * 2) !important;
  }
  .ch-li-i-l .ch-txt {
    position: relative;
    padding-left: var(--gap);
    flex-grow: 1;
    z-index: 1;
  }
  .ch-li-i-l .ch-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: calc((var(--ih) - 1.5em) / 2);
    line-height: 1.5;
    height: var(--ih);
  }
  .ch-li-i-l .ch-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% + var(--gap) + var(--ih));
    border-bottom: 1px solid #bbb;
  }
</style>
